body{
    overflow-x: hidden;
}
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.main-container {
    max-width: 1250px;
    margin: 20px auto;
    width: 100%;
}

.mt-15px {
    margin-top: 15px;
}

.flex {
    display: flex;
}

.weight-700 {
    font-weight: 700;
}

.container {
    border: 1px solid rgb(201, 184, 184);
    justify-content: space-around;
    width: 32%;
    padding: 25px 0px;
    box-shadow: 0 0 10px 1px #ccc;
}

.money {
    margin-top: 5px;
    font-size: 20px;
    color: rgb(93, 152, 4);
}

.icon {
    font-size: 30px;
}

.body-cont,
.header-cont,
.sec-div {
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.active-btn {
    background-color: rgb(49, 172, 238);
    color: white;
}

.nifty-order {
    margin-right: 15px;
    border-radius: 3px;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
}

.bank-nifty {
    cursor: pointer;
    border-radius: 3px;
    padding: 5px 10px;
}

.btn {
    color: rgb(49, 172, 238);
}

.new-order,
.square-off {
    border: 1px solid black;
}

.sec-div {
    margin-top: 34px;
}

.running {
    font-weight: 500;
}

.third-div {
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.772);
    padding: 6px 0px;
    margin-top: 6px;
}

.third-div a {
    color: white;
}

.confirm-modal-wrapper {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.261);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm-cont {
    text-align: center;
    padding: 25px 30px;
    width: 500px;
    border: 1px solid green;
    border-radius: 6px;
    background-color: #fff;
}

.brd-cmn {
    border: 1px solid black;
    border-radius: 4px;
    margin: 20px 5px;
    cursor: pointer;
}

.confirm-bdr-cnl {
    padding: 15px 30px;
    font-weight: 600;
}

.size {
    background-color: rgb(49, 172, 238);
    height: 45px;
    width: 150px;
    margin-top: 23.5px;
    padding-top: 8px;
    font-weight: 500;
}

.size a {
    color: white;
}

.confirm-cont h2 {
    font-size: 30px;
}

.warning {
    font-size: 100px;
    color: orange;
}

.table-data {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.row {
    background-color: rgba(0, 0, 0, 0.772);
    color: white;
    height: 35px;
    border: none;
    padding-left: 10px;
}

.table-data .row td {
    cursor: pointer;
}

.pl-10{
    padding-left: 10px;
}
